html {
	padding: 0;
	margin: 0;
	font-family: arial;
	height: 100%;
	color: #999;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100%;
}

header {
	padding: 20px 0 0 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header #brand img {
	height: 45px;
}

#profil {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: rgba(0, 0, 1, 0.6);
	opacity: 0.8;
	max-width: 130px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none !important;
	display: block;
}

.dropdown-content a:hover {
	background-color: rgba(0, 0, 1, 0.7);
}

#profil:hover .dropdown-content {
	display: block;
}

footer {
	margin-top: 30px;
	background-color: rgba(0, 0, 0, .7);
	padding: 30px;
}

footer p {
	margin-top: 0;
}

footer a {
	font-size: 0.7em;
	color: #999;
	text-decoration: none;
	margin-right: 50px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

section {
	flex-grow: 1;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
	margin: 0 0 30px 0;
}

input:not([type='checkbox']) {
	padding: 15px;
	width: 100%;
	font-size: 1em;
	border: 0;
	border-radius: 5px;
	color: #b3b3b3;
	background-color: #333333;
	margin-bottom: 15px;
}

button {
	background-color: #E50914;
	color: white;
	padding: 15px;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

#option {
	color: #b3b3b3;
	margin-top: 10px;
	display: block;
	font-size: 0.9em;
}

#login-body, #profil-body {
	max-width: 450px;
	margin: auto;
	background-color: rgba(0, 0, 0, .75);
	color: white;
	border-radius: 5px;
	padding: 50px;
	margin-top: 50px;
}

#body-search {
	max-width: 60%;
	margin: auto;
	background-color: rgba(0, 0, 0, .75);
	color: white;
	border-radius: 5px;
	padding: 50px;
	margin-top: 65px !important;
}

#body-search input, #body-search button, #body-search .alert {
	width: 30%;
}

#body-search img {
	cursor: pointer;
	margin-left: 5%;
	margin-top: 2%;
	transition-property: width;
	transition-duration: 1s;
	width: 250px;
}

#body-search img:hover {
	width: 260px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.grey {
	color: #777;
}

.alert {
	padding: 10px;
	margin: 30px 0;
	color: white;
	border-radius: 5px;
}

.success {
	background-color: green;
}

.error {
	background-color: red;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

@media all and (max-width: 1030px) {
	.container {
		width: 800px;
	}
	#body-search img {
		width: 180px;
	}
	#body-search img:hover {
		width: 180px;
	}

	#body-search input, #body-search button, #body-search .alert {
		width: 80%;
	}

	#body-search {
		max-width: 100%;
	}
}

@media all and (max-width: 830px) {
	.container {
		width: 580px;
	}
	header {
		text-align: center;
		padding-left: 20px;
	}


}